.grid-1-auto {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

.grid-2-auto {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.grid-2-10-auto {
    display: grid;
    grid-template-columns: 10% auto;
    align-items: center;
}
.grid-2-15-auto {
    display: grid;
    grid-template-columns: 15% auto;
    align-items: center;
}
.grid-2-10_auto_auto {
    display: grid;
    grid-template-columns: 10% auto auto;
    align-items: center;
}

.grid-3-auto {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.grid-3-auto-auto-10 {
    display: grid;
    grid-template-columns: auto auto 10%;
    align-items: center;
}
.grid-3-auto-auto-5 {
    display: grid;
    grid-template-columns: auto auto 5%;
    align-items: center;
}
.grid-4-8-auto-auto-5 {
    display: grid;
    grid-template-columns: 8% auto auto 5%;
    align-items: center;
}
.grid-column-gap-1em {
    grid-column-gap: 1em;
}
.justify-self-left {
    justify-self: left;
}
.justify-self-center {
    justify-self: center;
}
.justify-self-right {
    justify-self: right;
}
.justify-items-center {
    justify-items: center;
}
.justify-items-right {
    justify-items: end;
}
