.grid-1-auto {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
}

.grid-2-auto {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}
.grid-2-50_50 {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
}
.grid-2-10_auto {
    display: grid;
    grid-template-columns: 10% auto;
    align-items: center;
}
.grid-2-15-auto {
    display: grid;
    grid-template-columns: 15% auto;
    align-items: center;
}
.grid-2-auto_10 {
    display: grid;
    grid-template-columns: auto 10%;
    align-items: center;
}
.grid-2-auto_15 {
    display: grid;
    grid-template-columns: auto 15%;
    align-items: center;
}
.grid-2-10_auto_auto {
    display: grid;
    grid-template-columns: 10% auto auto;
    align-items: center;
}

.grid-3-auto {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.grid-3-auto-auto-10 {
    display: grid;
    grid-template-columns: auto auto 10%;
    align-items: center;
}
.grid-3-auto-auto-5 {
    display: grid;
    grid-template-columns: auto auto 5%;
    align-items: center;
}
.grid-3-10_40_50 {
    display: grid;
    grid-template-columns: 10% 40% 50%;
    align-items: center;
}
.grid-3-10_80_10 {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;
}
.grid-4-8-auto-auto-5 {
    display: grid;
    grid-template-columns: 8% auto auto 5%;
    align-items: center;
}
.grid-column-gap-0_5em {
    grid-column-gap: 0.5em;
}
.grid-column-gap-1em {
    grid-column-gap: 1em;
}
.grid-row-gap-0_1em {
    grid-row-gap: 0.1em;
}
.grid-row-gap-0_2em {
    grid-row-gap: 0.2em;
}
.grid-row-gap-0_3em {
    grid-row-gap: 0.3em;
}
.grid-row-gap-0_4em {
    grid-row-gap: 0.4em;
}
.grid-row-gap-0_5em {
    grid-row-gap: 0.5em;
}
.grid-row-gap-1em {
    grid-row-gap: 1em;
}
.justify-self-left {
    justify-self: left;
}
.justify-self-center {
    justify-self: center;
}
.justify-self-right {
    justify-self: right;
}
.justify-items-center {
    justify-items: center;
}
.justify-items-right {
    justify-items: right;
}
.justify-items-end {
    justify-items: end;
}
